.navbar-kantin {
    background: #1A6189;


    .nav-item {
        .nav-link {
            color: #fff;
            margin-bottom: -10px;
        }
    }


    .picture-profile {
        max-height: 45px;
    }
}