// navbar
.btn-login {
    background: #2588c1;
    color: #FFF;
    padding: 5px 8px;
    margin-top: 5px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background: #124d6f;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}

// end navbar

// page login
.btn-login-auth {
    width: 28.3rem;
    background: #1A6189;
    color: #FFF;
    border: none;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background: #124d6f;
        color: #FFF;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    @include media-breakpoint-down(md) {
        width: 24.3rem;
    }
}

.btn-regis-auth {
    width: 28.3rem;
    background: #ececec;
    color: #423C3F;
    font-weight: 600;
    height: 2.2rem;
    border: none;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background: #e6e6e6;
        color: #423C3F;
    }

    @include media-breakpoint-down(md) {
        width: 24.3rem;
    }
}

// end login

// page register
.btn-auth {
    width: 28.3rem;
    background: #1A6189;
    color: #FFF;
    border: none;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background: #124d6f;
        color: #FFF;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    @include media-breakpoint-down(md) {
        width: 24.3rem;
    }
}

.btn-auth-secondary {
    width: 28.3rem;
    background: #ececec;
    color: #423C3F;
    font-weight: 600;
    height: 2.2rem;
    border: none;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background: #e6e6e6;
        color: #423C3F;
    }

    @include media-breakpoint-down(md) {
        width: 24.3rem;
    }
}

// end register

// page transaction payment
.btn-payment {
    width: 10rem;
    background: #1A6189;
    color: #FFF;
    border: none;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background: #124d6f;
        color: #FFF;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    @include media-breakpoint-down(md) {
        width: 24.3rem;
    }
}

// transaction print
.btn-print {
    background: #D1A254;
    color: #FFF;
    border: none;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background: #9d773c;
        color: #FFF;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    @include media-breakpoint-down(md) {
        width: 24.3rem;
        margin-top: 0.5rem;
    }
}

// --- Dashboard --- //
// transaction card
.btn-footer {
    padding-top: 3rem;

    @include media-breakpoint-down(md) {
        padding-left: 15rem;
        margin-top: -5rem !important;

    }

    .btn-edit {
        background: rgba(255, 184, 0, 0.3);
        color: #ffb800;
        border: none;
        display: inline-block;
        padding: 5px 8px;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
            background: #ffb800;
            color: #FFF;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
    }

    .btn-delete {
        background: rgba(255, 67, 67, 0.3);
        color: #FF4343;
        border: none;
        display: inline-block;
        padding: 5px 8px;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
            background: #FF4343;
            color: #FFF;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
    }
}

// transaction add
.btn-add {
    background: #0DA867;
    color: #FFF;
    border: none;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background: #0a7d4d;
        color: #FFF;
    }
}

// --- end Dashboard --- //