.transaction-cash {
    z-index: 99;

    @include media-breakpoint-down(md) {
        width: 100%;
    }

    .card-struck {
        background-color: rgb(255, 255, 255);
        margin-top: 6rem;
        margin-bottom: 1rem;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #000;

        .table-responsive {
            table {
                width: 100%;

                th,
                td {
                    padding: 10px;
                }
            }

            .table-total {
                td {
                    border-top: 1px solid #000;
                    font-weight: 600;
                }
            }
        }
    }

    .card-note {
        background-color: rgba(26, 97, 137, 0.1);
        border-left: 4px solid #1A6189;
        padding: 10px;
        padding-bottom: 0px;
        color: #1A6189;
    }
}

.footer-cash {
    img {
        margin-left: 50rem;
        margin-top: -4rem;

        @include media-breakpoint-down(md) {
            margin-left: 0;
            margin-top: 0;
        }
    }
}