.card-one {
    background-color: rgba(255, 184, 0, 0.3);
    padding: 10px;

    .card-title {
        color: #0C0D36;
    }

    .card-text {
        color: #423C3F;
    }
}

.card-two {
    background-color: rgba(255, 67, 67, 0.3);
    padding: 10px;

    .card-title {
        color: #0C0D36;
    }

    .card-text {
        color: #423C3F;
    }
}

.card-tree {
    background-color: rgba(14, 186, 160, 0.3);
    padding: 10px;

    .card-title {
        color: #0C0D36;
    }

    .card-text {
        color: #423C3F;
    }
}