.buka {
    background: rgba(255, 139, 2, 0.3);
    color: #EE8100;
}

.tutup {
    background: #F1F1F8;
    color: #1A6189;
}

.habis {
    background: rgba(45, 158, 221, 0.3);
    color: #1A6189;
}

.diskon {
    background: rgba(126, 232, 61, 0.3);
    color: #499719;
}