<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transaction</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/vendor/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item  nav-item-menu">
            <a class="nav-link bi bi-three-dots btn btn-sm btn-primary" href="#"> Menu</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false"><img src="/images/avatar.png" alt=""></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Beranda Kantin</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Kelular</a>
            </div>
        </li>
    </ul>

    <div class="sidebar-dashboard">
        <div class="container">
            <img src="/images/logo.svg" alt="">
            <div class="row">
                <div class="body-list">
                    <ul class="list-unstyled">
                        <li class="nav-item active">Dashboard</li>
                        <li class="nav-item">Produk</li>
                        <li class="nav-item">Transaksi</li>
                        <li class="nav-item">Akun</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section-content">
        <div class="section-header-dashboard">
            <div class="container">
                <div class="row mt-5">
                    <div class="dashboard-header">
                        <div class="title mb-5">
                            <h1>Dashboard</h1>
                        </div>
                        <div class="section-dashboard">
                            <div class="row">
                                <div class="col-sm-4 mb-2">
                                    <div class="card card-one">
                                        <div class="card-body">
                                            <h3 class="card-title">10</h3>
                                            <p class="card-text">Konsumen</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <div class="card card-two">
                                        <div class="card-body">
                                            <h3 class="card-title">10</h3>
                                            <p class="card-text">Pesanan</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <div class="card card-tree">
                                        <div class="card-body">
                                            <h3 class="card-title">Rp. 150.000.00</h3>
                                            <p class="card-text">Transaksi</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title mt-5 mb-3">
                            <h3>Pesanan</h3>
                        </div>
                        <div class="section-dashboard">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <dl class="row">
                                                <dt class="col-sm-3"><img src="/images/logo.svg" alt=""></dt>
                                                <dt class="col-sm-3">Batagor</dt>
                                                <dt class="col-sm-3">Adit</dt>
                                                <dt class="col-sm-3">11 Maret, 2024</dt>

                                            </dl>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">10</h3>
                                            <p class="card-text">Konsumen</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">10</h3>
                                            <p class="card-text">Konsumen</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>