<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transaction</title>
    <link rel="stylesheet" href="/style/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-kantin fixed-top navbar-fixed-top">
        <div class="container">
            <a href="" class="navbar-brand">
                <img src="/images/logo.svg" alt="kantin-unpas">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex search-section" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kategori</a>
                    </li>
                    <li class="nav-item dropdown picture-profile">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/images/avatar.png" alt="">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Keluar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-section-content">
        <div class="section-header-transaction">
            <div class="container">
                <div class="row">
                    <div class="header">
                        <img src="/images/header-transaction.svg" width="100%" alt="">
                    </div>
                </div>
                <div class="row text-center mt-5">
                    <div class="transaction-payment">
                        <h1>Pilih Pembayaran</h1>
                        <img src="/images/Transaction.svg" alt="">
                    </div>
                    <div class="d-block">
                        <a href="/view/transaction-cash.html" type="button" class=" btn-payment mb-2"> Cash</a>
                        <a href="/view/transaction-qris.html" type="button" class=" btn-payment"> QRIS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>